/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Pacifio */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Raleway */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Lora */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
  padding: 0;
  margin: 0;
}

#logo {
  font-size: 30px;
  font-weight: 600;
}

#menu-links li {
  font-weight: 500;
}

.active > .nav-link {
  color: blue !important;
  border-bottom: 2px solid blue;
}

#front-page-h {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: -0.01em;
}

#question {
  font-size: 40px;
  font-weight: 600;
  line-height: 69.76px;
  letter-spacing: -0.01em;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

/* Adjust input's left border-radius */
.rounded-pill-left {
  border-radius: 50px 0 0 50px !important; /* Rounded left side */
}

/* Adjust button's right border-radius */
.rounded-pill-right {
  border-radius: 0 50px 50px 0 !important; /* Rounded right side */
}

#map-container {
  height: 300px;
  background-image: url("../images/map.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#logo1 {
  font-family: Pacifico;
  font-size: 40px;
  font-weight: 400;
  color: #9b9b9b;
}

#logo2 {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  color: #69a7f0;
}

#logo3 {
  font-family: Lato;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.15em;
  color: #9b9b9b;
}

#logo4 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  color: #9b9b9b;
}

#logo5 {
  font-family: Lora;
  font-size: 42px;
  font-weight: 500;
  letter-spacing: 0.06em;
  color: #9b9b9b;
}
